// Estilos globales
body {
    padding-top: 70px;
    font-family: 'Uchen', serif;
    background-color: $background-color;
    color: #1b1b1b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  